<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a style="text-decoration:none; color: #fff" href="{{ site.baseurl }}">
            {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <hr>
    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/about">About</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/portfolio">Portfolio</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/archive">Archive</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="/resume">Resume</a>
    </nav>
  </div>
</div>
