<div class="sidebar">
  <div class="container sidebar-sticky">
    <a href="{{ site.baseurl }}" style="text-decoration: none;">
    <div class="sidebar-about" style="text-decoration: none;">
      <h1 style="text-decoration: none;">
            {{ site.title }}
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>
    </a>
    <hr>
    <nav class="sidebar-nav">
      <div class="sidebar-nav-item">
        <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->
        <a href="/resume">Resume</a><br>
        <a href="/portfolio">Portfolio</a><br>
        <a href="/about">About</a><br>
        <a href="/blog">Blog</a><br>
        <a href="/contact">Contact</a><br>
      </div>
    </nav>
  </div>
</div>
