<DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body style="height: 100%;">
      <div class="container content">

          <div style="background: #151B54; width: 100%">
      <header class="masthead" style="z-index: 2; border-bottom-style: solid; border-color: #d8d8d8; width: 47.5rem; top: 0px; background: #FFFFFF; position: fixed;">
        <h1 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a>
          <div style="float: right;">
          {% for page in site.pages_list %}
            <small>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ page[1]  }}">{{ page[0] }}</a></small>
          {% endfor %}
          </div>
          
          <br>
          <small>{{ site.tagline }}</small>
        </h3>
        </header>
    </div>
      <main style="z-index: 1; height: 100%; margin: 160px auto;">
        {{ content }}
      </main>

      <footer class="footer">
        <small>
            &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved. <br>"Then you will know the data, and the data will set you free."<br>Contact me: <a href="mailto:winstonlarson@gmail.com">winstonlarson@gmail.com</a>
        </small>
      </footer>
    </div>

  </body>
</html>
